.container {
  margin-bottom: 100px;
}
.navbar-brand img {
  width: 100px;
  height: 30px;
}
.orange-bg {
  background-color: #fceaeb;
}
.carousel-item {
  padding: 20px 70px;
}
.price {
  color: #ff136f;
}
.buy-now-button {
  background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f);
  color: aliceblue;

  border: none;
  padding: 9px 25px;
  border-radius: 8px;
  cursor: pointer;
}
.cat1,
.cat2,
.cat3 {
  padding: 10px 30px;
  border-radius: 10px;
}
.cat1 {
  background-color: rgb(255, 166, 0);
}
.cat2 {
  background-color: rgb(209, 79, 209);
}
.cat3 {
  background-color: rgb(91, 75, 235);
}
.categories h1 {
  color: aliceblue;
}
.categories img {
  width: 100px;
}
.card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
}
.card-footer {
  background-color: white;
  border-top: none;
}
#subscribe {
  height: 300px;
}
#subscribe h6 {
  color: gray;
}
footer {
  text-align: center;
}
.rong {
  color: red;
}
